{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'game.css' %}" >

    <title>Game</title>
</head>
<body>

    <input type="hidden" value="{{blocks}}" id="blocks">
    <input type="hidden" value="{{pos}}" id="pos">
    <input type="hidden" value="{{day}}" id="day">
    <input type="hidden" value="{{path}}" id="path">

    <table>
        <tr>
            <td id="7"><div class="box big"><img src="{% static 'antenna.png' %}"></div></td>
            <td id="8"><div class="box"></div></td>
            <td id="9"><div class="box"></div></td>
            <td id="10"><div class="box"></div></td>
            <td id="11"><div class="box"></div></td>
            <td id="12"><div class="box"></div></td>
            <td colspan="3" id="13"><div class="box guns"><img src="{% static 'guns.png' %}"></div></td>
            <td id="14"><div class="box"></div></td>
            <td id="15"><div class="box"></div></td>
            <td id="16"><div class="box"></div></td>
            <td id="17"><div class="box big"><img src="{% static 'solar.png' %}"></div></td>
            <td id="18"><div class="box"></div></td>
            <td id="19"><div class="box"></div></td>
        </tr>
        <tr>
            <td id="6"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td id="48"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="53"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="60"><div class="box"></div></td>
            <td></td>
            <td id="20"><div class="box"></div></td>
        </tr>
        <tr>
            <td id="5"><div class="box"></div></td>
            <td id="47"><div class="box"></div></td>
            <td id="46"><div class="box"></div></td>
            <td id="45"><div class="box big"><img src="{% static 'tools.png' %}"></div></td>
            <td id="49"><div class="box"></div></td>
            <td id="50"><div class="box"></div></td>
            <td id="51"><div class="box"></div></td>
            <td id="52"><div class="box"></div></td>
            <td id="55"><div class="box"></div></td>
            <td id="56"><div class="box big"><img src="{% static 'medication.png' %}"></div></td>
            <td id="57"><div class="box"></div></td>
            <td id="58"><div class="box"></div></td>
            <td id="59"><div class="box"></div></td>
            <td id="61"><div class="box"></div></td>
            <td rowspan="2" id="21"><div class="box key"><img src="{% static 'key.png' %}"></div></td>
        </tr>
        <tr>
            <td id="4"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td id="44"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="54"><div class="box"></div></td>
            <td></td>
            <td id="63"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><div class="box"></div></td>
            <td></td>
            <td></td>
            <td id="43"><div class="box"></div></td>
            <td id="69"><div class="box"></div></td>
            <td id="68"><div class="box"></div></td>
            <td id="67"><div class="box"></div></td>
            <td id="66"><div class="box big"><img src="{% static 'fuel.png' %}"></div></td>
            <td id="65"><div class="box"></div></td>
            <td id="64"><div class="box"></div></td>
            <td colspan="4" rowspan="3" id="62"><div class="box space"><img src="{% static 'space.png' %}"></div></td>
            <td id="22"><div class="box"></div></td>
        </tr>
        <tr>
            <td id="3"><div class="box big"><img src="{% static 'food.png' %}"></div></td>
            <td></td>
            <td></td>
            <td id="42"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="70"><div class="box"></div></td>
            <td id="23"><div class="box"></div></td>
        </tr>
        <tr>
            <td id="2"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td id="41"><div class="box"></div></td>
            <td id="40"><div class="box"></div></td>
            <td id="39"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="71"><div class="box"></div></td>
            <td id="24"><div class="box"></div></td>
        </tr>
        <tr>
            <td id="1"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="35"><div class="box"></div></td>
            <td id="34"><div class="box"></div></td>
            <td rowspan="2" id="33"><div class="box circuit"><img src="{% static 'circuit.png' %}"></div></td>
            <td></td>
            <td id="72"><div class="box"></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="25"><div class="box"></div></td>
        </tr>
        <tr>
            <td colspan="3" id="0"><div class="box start"><h1>START</h1><img id="avatar" src="{% static 'avatar.png' %}"></div></td>
            <td id="38"><div class="box"></div></td>
            <td id="37"><div class="box"></div></td>
            <td id="36"><div class="box"></div></td>
            <td></td>
            <td id="32"><div class="box"></div></td>
            <td id="31"><div class="box"></div></td>
            <td id="30"><div class="box"></div></td>
            <td id="29"><div class="box"></div></td>
            <td id="28"><div class="box"></div></td>
            <td id="27"><div class="box"></div></td>
            <td id="26"><div class="box big"><img src="{% static 'manual.png' %}"></div></td>
        </tr>
        
    </table>
    
</body>
<script>
    var blocks = document.getElementById('blocks').value.replace('[', '').replace(']', '').replace(/'/g, '').split(', ');
    var pos = document.getElementById('pos').value.replace('[', '').replace(']', '').replace(/'/g, '').split(', ');
    var day = document.getElementById('day').value;
    var path = document.getElementById('path').value.replace('[', '').replace(']', '').replace(/'/g, '').split(', ');

    console.log(blocks)
    console.log(pos)
    console.log(day)
    console.log(path)

    for (let i=0; i<pos.length; i++){
        const y = document.getElementById(`${pos[i]}`)
        y.children[0].innerHTML = `<img src='{% static '${blocks[i]}' %}.png'>`
    }
    
    if (path.length > 1){
        for (let i=0; i<path.length; i++){
            const avatar = document.getElementById('avatar')
            const parent = avatar.parentElement
            parent.style.backgroundColor = 'green'
            parent.removeChild(parent.lastChild)
            const ele = document.getElementById(`${path[i]}`)
            ele.children[0].innerHTML = ele.children[0].innerHTML + `<img id="avatar" src="{% static 'avatar.png' %}">`
        }
        alert('Minimum days need to collect all resources: '+day)
    }
    else{
        alert(path[0])
    }
</script>
</html>